.block
	.center
		.logo LOGO
		h1 Vertical Entering
		p.text-yellow Current website system maintenance, such as inconvenience, please forgive me.
		p.text-gray.text-sm
			span.block-md Access to the site is not available due to scheduled maintenance,
			span.block-md we apologize for any inconvenience.
		p
			span.block-xs Maintenance time
			span.block-xs.text-yellow   2017-05-12 12:00:00