div.maintbox
	div.maintbox__title
		div.title__icon
			i.material-icons event_note
			i.material-icons person
		div.title__text Scheduled Downtime
		
	div.maintbox__message
		div We're busy pushing out some new features and improvements to the platform.
		div We should be back at 5am Eastern.