.container.col-md-8
  .row
    .four0four.col-md-4.col-sm-12.offset-md-2
      span.off 4
      span.flicker2 0
      span.flicker3 4
    .not-found.col-lg-2.col-md-12
      span.flicker4 P
      span.off a
      span ge 
      span not 
      span.off f
      span.flicker1 o
      span.flicker3 u
      span n
      span.off d
    -for (var i = 0; i< 10; i++){
      div(class="fog" + i)
    -}
  //.not-found Page not found
  
  