#Paths
JFFNMS=/opt/jffnms/engine
PHP=/usr/bin/php

# Consolidator 
*/1  * * * *    cd $JFFNMS && $PHP -q consolidate.php >/dev/null 2>&1

# SLAs
*/30 * * * *    cd $JFFNMS && $PHP -q rrd_analizer.php >/dev/null 2>&1

# TFTP Configuration
02   4 * * *    cd $JFFNMS && $PHP -q tftp_get_host_config.php >/dev/null 2>&1

# Cleanup system
02   5 * * *    cd $JFFNMS && $PHP -q cleanup_raw_tables.php >/dev/null 2>&1
20   * * * *    cd $JFFNMS && sh tmpwatch.sh $JFFNMS >/dev/null 2>&1

# Old/Current Poller
*/5  * * * *    cd $JFFNMS && $PHP -q poller.php >/dev/null 2>&1

# Interface Autodiscovery
*/30 * * * *    cd $JFFNMS && $PHP -q autodiscovery_interfaces.php > /dev/null 2>&1


# Experimental stuff

# Number of Poller/AD threads to run at the same time if using the new system
THREADS=5

# New Poller for big Networks
#*/1  * * * *    cd $JFFNMS && $PHP -q poller2.php master $THREADS >/dev/null 2>&1

# New Interface Autodiscovery (Only change is the launcher)
*/30 * * * *    cd $JFFNMS && $PHP -q autodiscovery_interfaces.php master $THREADS > /dev/null 2>&1

# Network Autodiscovery
#*/30 * * * *    cd $JFFNMS && $PHP -q autodiscovery_network.php master $THREADS > /dev/null 2>&1


# Stuff you will probably NOT use

# Poller Helper, Experimental
#*/1 * * * * 	cd $JFFNMS && $PHP -q poller_helper.php >/dev/null 2>&1

# Only in Satellite Enviorments
#*   * * * * 	cd $JFFNMS && $PHP -q satellite_distribution.php > /dev/null 2>&1
