/* main styles */

body, table, tr, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: #FFF8F5;
	background-repeat: repeat-y;
}

/* links */

a, a:active, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

/* text styles */

/* changes colour of focused input box */
input:focus, textarea:focus {
	background-color: #e9edf5;
}

.textError {
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.textErrorBig {
       font-size: 15px;
       font-weight: bold;
       color: red;
       padding: 15px;
       text-align: center;
}

.textInfo {
	font-size: 12px;
	color: green;
}

.textWarn {
	font-size: 12px;
	color: yellow;
}

.textSmall {
	font-size: 10px;
	font-style: italic;
	display: block;
}

/* tabs */
td.tab {
    border-top: 1px solid #999;
    border-right: 1px solid #666;
    border-left: 1px solid #999;
    border-bottom: none;
}

table.tabs      {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #666;
}


/* The main header. */


.headerbox h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	display: inline;
}
.headerbox h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #929CB1; 
	font-size: 15px;
	display: inline;
}

.headerbox       {
        background-color: #D1DFFD; 
	
}

/* menus get drawn here */

.menubox        {
	border: 0px solid #440000	;
	padding-left: 3px;
	padding-top: 0px;
	padding-bottom:0px;
	background-color:#d3d3d3;
}

/* The main body of the page */
/* div.normalbox { position: relative; } 
*/

.normalbox      {
	border: 1px solid #440000;
	margin: 3px;
	padding: 5px;
	background-color: #fefefe;
	overflow: auto; 
}

.normalbox h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

input.normalbox	{
	overflow: hidden;
}

.legend {
	font-style: italic;
}

.fieldset {
	padding: 0.5em;
	border: 1px dashed #8cacbb;
	color: Black;
	background-color: #f7f9fa;
	overflow: auto;
}

/* Matte Box - background onto which output is displayed */

.matte {

        background: #d3d3d3;
	border: 2px solid #000000;
}

/* table formatting for all data display tables */
table.outputtable      {
    background-color: #99CCFF;
    border-top: 2px solid #00CCFF;
    border-bottom: 2px solid #00CCFF;
    border-left: 2px solid #00CCFF;
    border-right: 2px solid #00CCFF;
}

td.heading {
	font-weight: bold;
}

td.oddrow {
	background-color: #F1F1F1;
}

td.evenrow {
	background-color: #FFFFFF;
}

td.redcell {
	background-color: red;
}

td.greencell {
	background-color: #00ff00;
}

/* style for "Logged in as" */
.userbox {
        font-size: 14px;
}

/* style for myError */
.errorbox {
	background-color: red;
	font-size: 12px;
	color: white;
}

/* search bar */

/*
.search        {
	border-top: 1px solid #440000;
	border-bottom: 1px solid #440000;
	padding-left: 3px;
	padding-top: 6px;
	padding-bottom: 3px;
}
*/

