/* Method 1 - Simplest String Replace */
Use DatabaseName

SELECT * FROM TableName WHERE path = 'OldServer' -- old record query
UPDATE TableName
SET path = REPLACE(path,'OldServer','NewServer')

SELECT * FROM TableName WHERE path = 'NewServer' -- updated record query

/* Method 2 - Iterate databases and replace string */
DECLARE @SQL NVARCHAR(MAX)
SELECT @SQL=COALESCE(@SQL+';','')+'UPDATE '+QUOTENAME(Name)+'.dbo.TableName
SET PATH = REPLACE(path,''OldString'',''NewString'')'
FROM sys.databases
WHERE Name LIKE 'DatabaseName%' OR Name LIKE 'OtherDatabaseNames_%'
EXEC sp_executesql @SQL


/* Method 3 - Update record using CAST */
UPDATE [CMS_DB_test].[dbo].[cms_HtmlText]
SET Content = CAST(REPLACE(CAST(Content as NVarchar(MAX)),'ABC','DEF') AS NText)
WHERE Content LIKE '%ABC%' 
